[Unit]
Description=%i Button journal

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/button-journal-logger "%i"
SyslogIdentifier=%i-button-journal
